
@{
    ViewBag.Title = "index";
}

<h2 align="center">@TempData["cn"]</h2>
<h3 align="center">@TempData["address"]</h3>
<hr />

<h4 align="center">
    <a href="http://localhost:61122/Register">
        Register Now
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:63047/Login/index">
        Login
    </a>

</h4>
<h2>Login form</h2>



