
@{
    ViewBag.Title = "index";
}

<h2 align="center">@ViewBag.cn</h2>
<h3 align="center">@ViewData["address"]</h3>
<hr />

<h4 align="center">
    <a href="http://localhost:63047/Register/index">
        Register Now
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://localhost:63047/Login/index">
        Login
    </a>

</h4>


