
@{
    ViewBag.Title = "Index";
}

    <h4 align="center">
        <a href="http://localhost:61122/Register">
            Register Now
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:61122/Login">
            Login
        </a>


